*{
    margin: 0;
    padding: 0;
}
main{
    position: relative;
    width: 100vw;
    height: 850px;
    background: url('https://www.look.com.ua/large/201701/192267.jpg');
    background-size: cover;
    background-position: center center;
    cursor: pointer;
}
.lantern{
    position: absolute;
    width: 100%;
    height: 100%;
}